
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main{

}
/*Стилизация топа*/
.top{
    width: auto;
    height: 200px;
    background-color: #E3EFFB;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.inputPlace{
    padding-left: 50px;
}
.searchPlace{
    padding-right: 50px;
    display: flex;

}
i{
    color: mediumpurple;
    font-size: 50px;
    padding: 20px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;

}
i:hover{
  color: blueviolet;
   cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

    transition: color 0.9s;
}

input{
    width: 300px;
    height: 50px;
    background-color: #03578D;
}

/*Стилизация средней части*/

.mid{
    width: auto;
    height: 500px;
    background-color: #03578D;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-items: flex-end;
}
.box{
    width: 200px;
    height: 200px;
    background-color: #4A1CCE;
    position: relative;
    top: 100px;
    border-radius: 15px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

.box:hover{
    transform: scale(1.1);


    transition: transform 0.3s;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}




/*Стилизация нижней части*/
.bot{
    width: auto;
    height: 300px;
    background-color: #E3EFFB;
}

.border{
    border: 1px black solid;
}