
.main{
    background-color: gray;
    height: 600px;

    margin-top: 0;
}



.widgets, .contact {
    background: blue;
    height: 100px;
    width: auto;
    text-align: center;
    padding: 100px;
    color: aliceblue;


}

.navBar{
    display: flex;
    justify-content: space-evenly;

    height: 200px;


}

.big, .bigger, .huge{
    background-color: darkblue;
    color: orange;
    padding: 50px;
    margin: 5px;
    box-sizing: border-box;
    width: 33%;
    text-align: center;

}